body{
    background-image:url("assets/painting-mountain-lake-with-mountain-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#mainDiv{
    background:rgba(0, 0, 0, 0.500);
    border-radius:20px;
}
.center{
    margin:auto;
    width:50%;
    padding:10px;
}
.textCenter{
    text-align:center;
}
p1{
     color:white;
}
h1{
    color:white;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
    border-radius:50%;
    border:2px solid black;
}
input{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:2px solid black;
    border-radius:10px;
    background-color:white;
}
.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  
  