body{
    background-image:url("https://img.freepik.com/free-photo/view-old-tree-lake-with-snow-covered-mountains-cloudy-day_181624-28954.jpg?w=996&t=st=1701092369~exp=1701092969~hmac=b82b126f57a1c1a53bd57de44b4cb87a79fbab6fbf763d80bcc55fe76c57db9b");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#mainDiv{
    background:rgba(0, 0, 0, 0.500);
    border-radius:20px;
}
.center{
    margin:auto;
    width:50%;
    padding:10px;
}
.textCenter{
    text-align:center;
}
p1{
     color:white;
}
h1{
    color:white;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
    border-radius:50%;
    border:2px solid black;
}
input{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:2px solid black;
    border-radius:10px;
    background-color:white;
}
#button{
    background-color:skyblue;
    width:10%;
    border:2px solid black;
    border-radius:5px;
}
  